<launch>
	<node name="collectKinectPublisher" pkg="tetris_arm" type="collectKinectPublisher.py" />
	<node name="identifyL" pkg="tetris_arm" type="identifyL.py" />
	<node name="identifyO" pkg="tetris_arm" type="identifyO.py" />
	<node name="identifyJ" pkg="tetris_arm" type="identifyJ.py" />
	<node name="identifyT" pkg="tetris_arm" type="identifyT.py" />
	<node name="identifyS" pkg="tetris_arm" type="identifyS.py" />
	<node name="identifyZ" pkg="tetris_arm" type="identifyZ.py" />
</launch>